spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/elearning-realm
          jwk-set-uri: http://localhost:8081/realms/elearning-realm/protocol/openid-connect/certs
          
  datasource:
    url: jdbc:h2:mem:elearningdb
    username: sa
    password: password
    
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        
  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG